div {
    color: yellow;
    border: 1px solid black;
    background-color: #774AD8;
    width: 700px;
    padding: 24px;
    margin: auto;
  }
h3 {
    border-left: 6px solid
}

button {
    margin: auto;
}